.main-footer {
  background: #333;
  font-family: $fontFamily;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0px;
  color: $textColor;
  text-shadow: rgb(177, 168, 168) 2px 2px 1px;
}
