@import "./login-form";
@import "./card";
@import "./body";
@import "./variables";
@import "./header";
@import "./footer";

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

button {
  background: #8ab86a;
  border-radius: 6px;
  color: #f4f4f4;
  padding: 12px;
  margin: 8px 0;
  cursor: pointer;
}

.sign-up {
  font-family: $fontFamily;
  font-size: 12px;
  color: #a39292;
  text-align: center;
  padding: 12px;
}
